
@{
	ViewData["Title"] = "Index";
}
<div>
	<h2 style="font-family: Orbitron">Meetups i Göteborg</h2>
	<br />

	<h4>
		På denna sida finner du grupper och events i Göteborg som handlar om programmering och teknik.
		Passar den som studerar programmering och vill höra om nya tekniker, språk och arbetssätt och även hur
		marknaden ser ut!
	</h4>

	<div class="container">
		<div class="row">
			<div class="col">
				<div id="outputGroups"></div>
			</div>
		</div>
	</div>


</div>
