
@{
	ViewData["Title"] = "Index";
}
<div class="content">
	<h2>Hej</h2>

	<button id="getEvents">Klicka här för att se grupper som har planerade event i göteborg, woo!</button>

	<div id="output"></div>
</div>