
@{
	ViewData["Title"] = "Index";
}
<div class="content">
	<h2>Meetups i Göteborg</h2>

	<p>
		På denna sida finner du grupper och events i Göteborg som handlar om programmering och teknik.
		Passar den som studerar programmering ovh vill höra om nya tekniker, språk och arbetssätt och även vill höra hur
		marknaden ser ut!
	</p>

	<button id="getGroups">Klicka här för att se grupper som har planerade event i göteborg, woo!</button>
	<button id="getEvents">Klicka här för att se aktuella event</button>

	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div id="outputGroups"></div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div id="outputEvents"></div>
			</div>
		</div>
	</div>







</div>
