
@{
	ViewData["Title"] = "Index";
}
<div>
	<h2>Meetups i Göteborg</h2>

	<p>
		På denna sida finner du grupper och events i Göteborg som handlar om programmering och teknik.
		Passar den som studerar programmering och vill höra om nya tekniker, språk och arbetssätt och även hur
		marknaden ser ut!
	</p>

	@*<button id="getEvents">Klicka här för att se aktuella event</button>*@

	<div class="container">
		<div class="row">
			<div class="col">
				<h3>Grupper i Göteborg som just nu har planerade meetups:</h3>
				<div id="outputGroups"></div>
			</div>
		</div>
	</div>


</div>
