@{
    ViewData["Title"] = "Kontakt";
}
<h2 style="font-family: Orbitron">@ViewData["Title"]</h2>

<div class="TopListPara" style="word-wrap: break-word;">
    <p>
        Om man har problem med något som gäller forumet så kan man här hitta kontaktuppgifter till sidans admins.
        Ta kontakt med någon av dem vid behov!
    </p>
</div>

<div style="max-width: 500px;">
	<div class="panel panel-success">
		<div class="panel-heading">Admins:</div>
		<div class="panel-body">
			<div id="adminList"></div>
		</div>
	</div>
</div>
