@model IndexViewModel
@{
	ViewData["Title"] = "TopList";
}

<h3>Topplistor</h3>
<p >Vi vill gärna ägna lite plats till att uppmärksamma de duktigaste avnändarna på vår sida!</p>

<div style="max-width: 500px;">
	<div class="panel panel-success">
		<div class="panel-heading">De flitigaste användarna:</div>
		<div class="panel-body">
			<div id="prolificUserList"></div>
		</div>
	</div>
</div>

<div style="max-width: 500px;">
	<div class="panel panel-success">
		<div class="panel-heading">De mest hjälpsamma användarna:</div>
		<div class="panel-body">
			<div id="helpfulUserList"></div>
		</div>
	</div>
</div>

<div style="max-width: 500px;">
	<div class="panel panel-success">
		<div class="panel-heading">Populärate inlägget:</div>
		<div class="panel-body">
			<div id="mostUpvotedPost"></div>
		</div>
	</div>
</div>

