@model IndexViewModel
@{
	ViewData["Title"] = "TopList";
}

    <h2 style="font-family: Orbitron">Topplistor</h2>
    <p >Vi vill gärna ägna lite plats till att uppmärksamma de duktigaste användarna på vår sida!</p>

<div id="TopListWrapper">


    <div id="TopList1">
        
	        <div class="panel panel-success">
		        <div class="panel-heading">De flitigaste användarna:</div>
		        <div class="panel-body">
			        <div id="prolificUserList"></div>
		        </div>
	        </div>
        
    </div>

    <div id="TopList2">
        
	        <div class="panel panel-success">
		        <div class="panel-heading">De mest hjälpsamma användarna:</div>
		        <div class="panel-body">
			        <div id="helpfulUserList"></div>
		        </div>
	        </div>
        
    </div>

</div>
