@model IEnumerable<HackslashForum.Comment>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <p>
            
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Innehåll
                    </th>
                    <th>
                        Kommentar skapad
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTimeCommentMade)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Redigera</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Radera</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>


}
else
{
<h2> No Access</h2>
}
