@model IEnumerable<HackslashForum.Category>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
</head>
<body>
    <div class="content">

        @foreach (var item in Model)
         {
            string name = item.ToString();

            <div class="categoriesstyle">
            <a href="https://localhost:44369/Category/@name"><h3>@item</h3></a>
            </div>
         }

    </div>
</body>
</html>

