@using Microsoft.AspNetCore.Identity
@using HackslashForum.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    //Ä funkar inte :/
<ul class="nav navbar-nav spaceFont">
	<li><a asp-area="" asp-controller="Posts" asp-action="Create">Skapa inl&#228gg</a></li>
	<li><a asp-controller="MeetUp" asp-action="Index">Meetups</a></li>
	<li><a asp-controller="Home" asp-action="TopList">Topplistor</a></li>
	<li><a asp-controller="Home" asp-action="Contact">Kontakt</a></li>
</ul>
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right spaceFont">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logga ut</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Bli medlem</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Logga in</a></li>
    </ul>
}
