@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<div id="admin-style">
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <h2 style="font-family: Orbitron">Admin</h2>
        <br />
        <hr />
        <a href="https://localhost:44369/Posts/Index"><h4 style="font-family: Orbitron">Inlägg</h4></a>
        <br />
        <a href="https://localhost:44369/Comments/Index"><h4 style="font-family: Orbitron">Kommentarer</h4></a>
        <br />
        <a href="https://localhost:44369/ApplicationUsers/Index"><h4 style="font-family: Orbitron">Användare</h4></a>
        <br />
        <a href="https://localhost:44369/account/RegisterRole"><h4 style="font-family: Orbitron">Ändra Roller</h4></a>
    }
    else
    {
        <h2> No Access</h2>
    }
</div>

