@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<div id="admin-style">
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <h2 style="font-family: Orbitron">Adminsida</h2>
        <hr />
        <a href="https://localhost:44369/Posts/Index"><h4>Administrera inlägg</h4></a>

        <a href="https://localhost:44369/ApplicationUsers/Index"><h4>Administrera användare</h4></a>

        <a href="https://localhost:44369/account/RegisterRole"><h4>Hantera roller</h4></a>

        <a href="https://localhost:44369/Comments/Index"><h4>Administrera kommentarer</h4></a>
    }
    else
    {
        <h2> No Access</h2>
    }
</div>

