@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<div id="admin-style">
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <h2>Admin</h2>
        <br />
        <hr />
        <a href="https://localhost:44369/Posts/Index"><h4>Posts</h4></a>

        <a href="https://localhost:44369/ApplicationUsers/Index"><h4>Users</h4></a>

        <a href="https://localhost:44369/account/RegisterRole"><h4>Manage Roles</h4></a>

        <a href="https://localhost:44369/Comments/Index"><h4>Comments</h4></a>
    }
    else
    {
        <h2> No Access</h2>
    }
</div>

